.about{
    background-color: rgb(46, 46, 46);

    grid-area: About;
    display: grid;
    grid-template-columns: repeat(8, minmax(min-content, 1fr));
    grid-template-rows:  repeat(auto, min-content);

    grid-template-areas: 
    "a a a a a a a a "
    "b b b b b b b b "
    "c c c c c c c c"
    "d d d d d d d d"
    "l l l l l l l l"
    ". e e e e e e ."
    ;
  
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    justify-items: center;

  
       &__title  {

        
        &__text{
            width: 40rem;
            text-align: center;
            font-family: "SignPainter";
            font-size: 4rem;
            grid-area: a;
            margin: 2rem;
            padding: 1rem 1rem 0 1rem ;

            background: -webkit-linear-gradient(#eee, rgb(57, 80, 92));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__line{
            grid-area: a;
            width: 20%;
            height: 1px;
            margin: 0 auto;
            border-bottom: .2rem solid #b6cccf;
            margin-bottom: 3rem;
        }
    }

    &__title:after {
        grid-area: a;
        content: "";
        position: absolute;
        left: 10%;
        bottom: 0;
        width: 80%;
        border-bottom: 2px solid rgb(227, 227, 227);
      }

    &__bioPicture{
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        grid-area: b;
        border: .2em solid rgba(228, 243, 252, 0.947);
    }

    &__description{
        font-family: "Savoye LET";
        padding: 5rem 7rem;
        font-size: 2rem;
        color: whitesmoke;
        grid-area: c;
        text-align: center;
    }

}

.teckStack{
    grid-column: 1/ -1;
    grid-area: d;
    justify-items: center;

    &__title{

        font-family: "SignPainter";
        font-size: 3rem;
        margin-left: 1rem;

        background: -webkit-linear-gradient(#eee, rgb(57, 80, 92));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &__line {
            width: 60%;
            height: 1px;
            margin: 0 auto;
            border-bottom: .2rem solid #b6cccf;
            margin-bottom: 3rem;
        }
    }

    &__list{
        font-family: "SignPainter";
        
        &__item a{
            position: relative;
            display: block;
            padding: .4em .4em .4em 2em;
            *padding: .4em;
            margin: .5em 0;
            background: #ddd;
            color: #444;
            text-decoration: none;
            border-radius: .3em;
            transition: all .3s ease-out; 
        }

        &__item a:hover{
            background: rgb(198, 234, 235);
        }

        &__item a:before{
            content: '';
            counter-increment: li;
            position: absolute; 
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            background: #7dc0dd;
            height: 2em;
            width: 2em;
            line-height: 2em;
            border: .2em solid #fff;
            text-align: center;
            font-weight: bold;
            border-radius: 2em;
            transition: all .3s ease-out;
        }
    }
}

hr{
    grid-area: l;
    margin-bottom: 2rem;

}

.aboutClip{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    background-color: rgb(46, 46, 46);
    grid-area: aboutBtmClip;
    color: whitesmoke;
}

.cert{
    grid-area: e;
    display: flex;
    height: 10rem;
    width: 90vh;

    @media (max-width: 520px){
         flex-direction: column;
         width: 30vh;
    }

    &__logo{
        display: flex;
        @media (max-width: 520px){
            display: block;
       }

        &__image{
            object-fit: contain;
            width: 100%;
        }
    }

    &__prince2_tag{
        display: flex;
        @media (max-width: 520px){
            display: block;
       }
        &__image{
            object-fit: contain;
            width: 100%;
        }

    }

}
