// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: rgb(199, 136, 63);

$color-secondary: #101d2c;

$color-grey-light-1: #3fb56a;
$color-grey-light-2: rgb(213, 50, 194);

$color-grey-dark-1: rgb(31, 156, 148);
$color-grey-dark-2: rgb(216, 128, 27);

$color-image: rgb(154, 156, 31);
$color-grey-dark-2: rgb(216, 128, 27);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }


html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-weight: 300;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: rgb(38, 38, 38);
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

hr {
    height: 2px;
    border: none;
    background-image: linear-gradient(to right, rgba(203, 203, 203, 0), rgba(206, 206, 206, 0.75), rgba(196, 196, 196, 0));
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-rows: repeat(2, minmax(100vh, 1fr)) 10vh repeat(3, min-content);
    grid-template-columns: repeat(6, minmax(min-content, 1fr));


    @media (max-width: 650px){
        grid-template-rows: repeat(2, minmax(min-content, 100vh)) 10vh repeat(3, min-content);
        
   }

    background: linear-gradient(to bottom, black 30%, transparent 31%);

    grid-template-areas:
        "Header Header Header Header Header Header "
        "About About About About About About"
         "aboutBtmClip aboutBtmClip aboutBtmClip aboutBtmClip aboutBtmClip aboutBtmClip"
         "PHeader PHeader PHeader PHeader PHeader PHeader "
        "Project Project Project Project Project Project "
        "Footer Footer Footer Footer Footer Footer ";

      


}

