.contact{
    background-color: rgb(227, 64, 64);
    grid-area: Contact;
    height: 20rem;
    display: flex;
    // justify-content: center


    &__form{
        height: 10rem;
        width: 20rem;
        background-color: aliceblue;
    }
}


    


 




