.contact {
    background-color: #2e2e2e;
    grid-area: Contact;
    justify-content: center;
    justify-items: center;
    display: grid;

    &__title {
        text-align: center;
        font-family: "SignPainter";
        font-size: 8vh;
        background: -webkit-linear-gradient(#eee, rgb(57, 80, 92));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        &__line {
            width: 30%;
            height: 1px;
            margin: 0 auto;
            border-bottom: .2rem solid #b6cccf;
            margin-bottom: 3rem;
        }
    }

    &__details{
        font-family: 'Libre Baskerville', serif;
        font-style: bold;
        padding: 5rem 30rem;
        font-size: 2.3rem;
        @media (max-width: 650px) {
            padding: 5rem 1rem;
            font-size: 1.5rem;
        }
        color: whitesmoke;
        text-align: center;
    }

    &__form {
        width: 50vw;
        background-color: aliceblue;

        @media (max-width: 650px) {
            width: 80vw;
        }
    }

    .ui.form {
        max-width: 100rem;
        height: 30rem;
        margin-bottom: 5rem;
        padding: 2rem;
        border-radius: .5rem;
    }

}

#Contact>div:nth-child(2)>form>div:nth-child(4)>div>textarea {
    height: 15vh;
}