.footer{
    background-color: rgb(33, 33, 33);
    grid-area: Footer;
}

.social-links{

    font-size: 4em;   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 10rem, 1fr));
    justify-items: center;
    grid-gap: 2rem;
    align-items: center; 

     a:hover{
        color: rgb(255, 255, 255);
    }
    


    &__item{
        color: rgb(215, 219, 223);
    }

}


