.navbar{
    position: fixed;
    z-index: 10;
    grid-column: 1/ -1;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.842), transparent);
    width: 100%;
}

.nav{
    font-family: "SignPainter";
    color: rgba(255, 255, 255, 0.507);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 5rem, 1fr));
    justify-items: center;
    grid-gap: 1rem;

    &__link:link,
    &__link:visited { 
        font-size: 1.6rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
        display: block;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
        text-decoration: underline;
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }

}