.title {

    grid-area: PHeader;
    text-align: center;
    font-family: "SignPainter";
    font-size: 10vh;

    background: -webkit-linear-gradient(#eee, rgb(57, 80, 92));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &__line {
        grid-area: PHeader;
        width: 15%;
        height: .2rem;
        margin: 0 auto;
        border-bottom: .2rem solid #b6cccf;
        margin-bottom: 5rem;
    }
}




.projects {
    // grid-column: 1/ -1;
    margin: 7rem 1rem;
    background-color: rgb(38, 38, 38);

    // Flex version
    // display: flex;
    // justify-content: space-around;
    // flex-wrap: wrap;

    // Grid version 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    

    @media (max-width: 650px){
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
   }

    grid-area: Project;
    grid-gap: 5rem;
    justify-items: center;
    justify-content: center;
}

.card {
    background-color: rgb(83, 84, 82);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 
    max-width: 35rem;
    // width: auto;

    @media (max-width: 650px){
        max-width: 25rem;   
   }

    grid-row-gap: 1.2rem;
    justify-items: center;
    border-radius: .5rem;
    box-shadow: 0 1.5rem 4rem rgba(rgb(0, 0, 0), .4);
    overflow: hidden;

    &__image {
        width: 100%;
        grid-column: 1 / -1;
        height: 30rem;
        object-fit: contain;
        background-image: radial-gradient(#232323, #191919);

        @media (max-width: 650px){
            height: 20rem;
       }
    }

    &__name {
        font-size: 2.5rem;
        grid-row: 2 / 2;
        grid-column: 1 / -1;
        justify-self: center;
        font-family: "SignPainter";
        background: -webkit-linear-gradient(#eee, rgb(146, 192, 218));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &__line {
            width: 80%;
            height: 1px;
            margin: 0 auto;
            border-bottom: .2rem solid #dce6e7;
        }
    }

    &__description {
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        font-size: 1.3rem;
        grid-row: 3 / 3;
        grid-column: 1 / -1;
        justify-self: center;
        text-align: center;
        padding: 0 2rem;
        color: rgb(233, 248, 248);

        @media (max-width: 650px){
            font-size: 1rem;
       }
    }

    &__links {
        color: #fff;
        font-size: 1.6rem;
        grid-column: 1 / -1;
        display: flex;
        align-items: baseline;

        a:hover{
            color: rgb(245, 245, 245);
        }

        &__view{
            color: rgb(187, 189, 188);
            grid-row: 4 / 4;
            grid-column: 1 / 1;
            padding-right: 1rem;
            font-family: 'SignPainter';
            font-size: 2rem;
        }
        &__github{
            font-size: 2rem;
            color: rgb(187, 189, 188);
            grid-row: 4 / 4;
            grid-column: 2 / -1;
       }
    }


}